@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629525969817') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont_big {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont_small {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-stop-fill:before {
  content: "\e738";
}

.icon-column:before {
  content: "\e741";
}

.icon-add-account:before {
  content: "\e742";
}

.icon-add:before {
  content: "\e743";
}

.icon-add-cart:before {
  content: "\e744";
}

.icon-arrow-right:before {
  content: "\e745";
}

.icon-arrow-left:before {
  content: "\e746";
}

.icon-all1:before {
  content: "\e747";
}

.icon-arrow-up:before {
  content: "\e748";
}

.icon-ashbin:before {
  content: "\e749";
}

.icon-atm:before {
  content: "\e74a";
}

.icon-bad:before {
  content: "\e74b";
}

.icon-attachent:before {
  content: "\e74c";
}

.icon-browse:before {
  content: "\e74d";
}

.icon-assessed-badge:before {
  content: "\e74e";
}

.icon-cart-full:before {
  content: "\e74f";
}

.icon-category:before {
  content: "\e750";
}

.icon-close:before {
  content: "\e751";
}

.icon-cart-Empty:before {
  content: "\e752";
}

.icon-code1:before {
  content: "\e753";
}

.icon-color:before {
  content: "\e754";
}

.icon-conditions:before {
  content: "\e755";
}

.icon-confirm:before {
  content: "\e756";
}

.icon-copy1:before {
  content: "\e757";
}

.icon-coupons:before {
  content: "\e758";
}

.icon-cry:before {
  content: "\e759";
}

.icon-clock:before {
  content: "\e75a";
}

.icon-CurrencyConverter:before {
  content: "\e75b";
}

.icon-cut:before {
  content: "\e75c";
}

.icon-data1:before {
  content: "\e75d";
}

.icon-Customermanagement:before {
  content: "\e75e";
}

.icon-double-arro-right:before {
  content: "\e75f";
}

.icon-customization:before {
  content: "\e760";
}

.icon-double-arrow-left:before {
  content: "\e761";
}

.icon-discount:before {
  content: "\e762";
}

.icon-download:before {
  content: "\e763";
}

.icon-editor1:before {
  content: "\e764";
}

.icon-ellipsis:before {
  content: "\e765";
}

.icon-email:before {
  content: "\e766";
}

.icon-falling:before {
  content: "\e767";
}

.icon-filter:before {
  content: "\e768";
}

.icon-folder:before {
  content: "\e769";
}

.icon-history1:before {
  content: "\e76a";
}

.icon-help:before {
  content: "\e76b";
}

.icon-good:before {
  content: "\e76c";
}

.icon-gift1:before {
  content: "\e76d";
}

.icon-form:before {
  content: "\e76e";
}

.icon-image-text:before {
  content: "\e76f";
}

.icon-hot:before {
  content: "\e770";
}

.icon-leftbutton:before {
  content: "\e771";
}

.icon-jewelry:before {
  content: "\e772";
}

.icon-ipad:before {
  content: "\e773";
}

.icon-leftarrow:before {
  content: "\e774";
}

.icon-link:before {
  content: "\e775";
}

.icon-loading:before {
  content: "\e776";
}

.icon-lights:before {
  content: "\e777";
}

.icon-mobile-phone:before {
  content: "\e778";
}

.icon-move:before {
  content: "\e779";
}

.icon-map:before {
  content: "\e77a";
}

.icon-notice:before {
  content: "\e77b";
}

.icon-password:before {
  content: "\e77c";
}

.icon-Notvisible1:before {
  content: "\e77d";
}

.icon-operation:before {
  content: "\e77e";
}

.icon-packaging:before {
  content: "\e77f";
}

.icon-phone:before {
  content: "\e780";
}

.icon-pic1:before {
  content: "\e781";
}

.icon-pin:before {
  content: "\e782";
}

.icon-play1:before {
  content: "\e783";
}

.icon-product:before {
  content: "\e784";
}

.icon-prompt:before {
  content: "\e785";
}

.icon-QRcode1:before {
  content: "\e786";
}

.icon-reeor:before {
  content: "\e787";
}

.icon-reduce:before {
  content: "\e788";
}

.icon-resonserate:before {
  content: "\e789";
}

.icon-remind:before {
  content: "\e78a";
}

.icon-return:before {
  content: "\e78b";
}

.icon-rising1:before {
  content: "\e78c";
}

.icon-Rightarrow:before {
  content: "\e78d";
}

.icon-rmb1:before {
  content: "\e78e";
}

.icon-RFQ-logo:before {
  content: "\e78f";
}

.icon-save:before {
  content: "\e790";
}

.icon-scanning:before {
  content: "\e791";
}

.icon-security:before {
  content: "\e792";
}

.icon-salescenter:before {
  content: "\e793";
}

.icon-seleted:before {
  content: "\e794";
}

.icon-share:before {
  content: "\e795";
}

.icon-signboard:before {
  content: "\e796";
}

.icon-Rightbutton:before {
  content: "\e797";
}

.icon-sorting:before {
  content: "\e798";
}

.icon-sound-Mute:before {
  content: "\e799";
}

.icon-sound-filling:before {
  content: "\e79a";
}

.icon-suggest:before {
  content: "\e79b";
}

.icon-stop:before {
  content: "\e79c";
}

.icon-success:before {
  content: "\e79d";
}

.icon-switch:before {
  content: "\e79e";
}

.icon-survey:before {
  content: "\e79f";
}

.icon-text:before {
  content: "\e7a0";
}

.icon-suspended:before {
  content: "\e7a1";
}

.icon-task-management:before {
  content: "\e7a2";
}

.icon-tool:before {
  content: "\e7a3";
}

.icon-Top:before {
  content: "\e7a4";
}

.icon-smile:before {
  content: "\e7a5";
}

.icon-training:before {
  content: "\e7a6";
}

.icon-upload:before {
  content: "\e7a7";
}

.icon-viewlarger:before {
  content: "\e7a8";
}

.icon-viewgallery:before {
  content: "\e7a9";
}

.icon-warning:before {
  content: "\e7aa";
}

.icon-video:before {
  content: "\e7ab";
}

.icon-set:before {
  content: "\e7ac";
}

.icon-store:before {
  content: "\e7ad";
}

.icon-tool-hardware:before {
  content: "\e7ae";
}

.icon-Daytimemode:before {
  content: "\e7af";
}

.icon-discounts:before {
  content: "\e7b0";
}

.icon-usercenter:before {
  content: "\e7b1";
}

.icon-unlock:before {
  content: "\e7b2";
}

.icon-vip:before {
  content: "\e7b3";
}

.icon-wallet:before {
  content: "\e7b4";
}

.icon-voice:before {
  content: "\e7b5";
}

.icon-exchangerate:before {
  content: "\e7b6";
}

.icon-add-account1:before {
  content: "\e7b7";
}

.icon-add-fill:before {
  content: "\e7b8";
}

.icon-all-fill1:before {
  content: "\e7b9";
}

.icon-ashbin-fill:before {
  content: "\e7ba";
}

.icon-calendar-fill:before {
  content: "\e7bb";
}

.icon-bad-fill:before {
  content: "\e7bc";
}

.icon-bussiness-man-fill:before {
  content: "\e7bd";
}

.icon-atm-fill:before {
  content: "\e7be";
}

.icon-cart-Empty-fill:before {
  content: "\e7bf";
}

.icon-clock-fill:before {
  content: "\e7c0";
}

.icon-color-fill:before {
  content: "\e7c1";
}

.icon-CurrencyConverter-fill:before {
  content: "\e7c2";
}

.icon-Customermanagement-fill:before {
  content: "\e7c3";
}

.icon-discounts-fill:before {
  content: "\e7c4";
}

.icon-Daytimemode-fill:before {
  content: "\e7c5";
}

.icon-exl-fill:before {
  content: "\e7c6";
}

.icon-cry-fill:before {
  content: "\e7c7";
}

.icon-email-fill:before {
  content: "\e7c8";
}

.icon-filter-fill:before {
  content: "\e7c9";
}

.icon-folder-fill:before {
  content: "\e7ca";
}

.icon-feeds-fill:before {
  content: "\e7cb";
}

.icon-form-fill:before {
  content: "\e7cc";
}

.icon-good-fill:before {
  content: "\e7cd";
}

.icon-hot-fill:before {
  content: "\e7ce";
}

.icon-discount-fill:before {
  content: "\e7cf";
}

.icon-leftbutton-fill:before {
  content: "\e7d0";
}

.icon-help1:before {
  content: "\e7d1";
}

.icon-multi-language-fill:before {
  content: "\e7d2";
}

.icon-notice-fill:before {
  content: "\e7d3";
}

.icon-mute:before {
  content: "\e7d4";
}

.icon-password1:before {
  content: "\e7d5";
}

.icon-map1:before {
  content: "\e7d6";
}

.icon-play-fill1:before {
  content: "\e7d7";
}

.icon-pdf-fill:before {
  content: "\e7d8";
}

.icon-phone1:before {
  content: "\e7d9";
}

.icon-pin-fill:before {
  content: "\e7da";
}

.icon-product-fill:before {
  content: "\e7db";
}

.icon-reduce-fill:before {
  content: "\e7dc";
}

.icon-reeor-fill:before {
  content: "\e7dd";
}

.icon-pic-fill1:before {
  content: "\e7de";
}

.icon-rankinglist:before {
  content: "\e7df";
}

.icon-product1:before {
  content: "\e7e0";
}

.icon-prompt-fill1:before {
  content: "\e7e1";
}

.icon-resonserate-fill:before {
  content: "\e7e2";
}

.icon-remind-fill:before {
  content: "\e7e3";
}

.icon-Rightbutton-fill:before {
  content: "\e7e4";
}

.icon-RFQ-logo-fill:before {
  content: "\e7e5";
}

.icon-salescenter-fill:before {
  content: "\e7e6";
}

.icon-save-fill:before {
  content: "\e7e7";
}

.icon-security-fill:before {
  content: "\e7e8";
}

.icon-shuffling-banner-fill:before {
  content: "\e7e9";
}

.icon-store-fill:before {
  content: "\e7ea";
}

.icon-smile-fill:before {
  content: "\e7eb";
}

.icon-success-fill:before {
  content: "\e7ec";
}

.icon-sound-filling-fill:before {
  content: "\e7ed";
}

.icon-sound-Mute1:before {
  content: "\e7ee";
}

.icon-suspended-fill:before {
  content: "\e7ef";
}

.icon-tool-fill:before {
  content: "\e7f0";
}

.icon-unlock-fill:before {
  content: "\e7f1";
}

.icon-vip-fill:before {
  content: "\e7f2";
}

.icon-set1:before {
  content: "\e7f3";
}

.icon-Top-fill:before {
  content: "\e7f4";
}

.icon-viewlarger1:before {
  content: "\e7f5";
}

.icon-voice-fill:before {
  content: "\e7f6";
}

.icon-warning-fill:before {
  content: "\e7f7";
}

.icon-zip-fill:before {
  content: "\e7f8";
}

.icon-video1:before {
  content: "\e7f9";
}

.icon-wallet1:before {
  content: "\e7fa";
}

.icon-collection:before {
  content: "\e7fb";
}

.icon-consumption-fill:before {
  content: "\e7fc";
}

.icon-collection-fill:before {
  content: "\e7fd";
}

.icon-topraning-fill:before {
  content: "\e7fe";
}

.icon-consumption:before {
  content: "\e7ff";
}

.icon-messagecenter-fill:before {
  content: "\e800";
}

.icon-quick:before {
  content: "\e801";
}

.icon-writing:before {
  content: "\e802";
}

.icon-docjpge-fill:before {
  content: "\e803";
}

.icon-jpge-fill:before {
  content: "\e804";
}

.icon-gifjpge-fill:before {
  content: "\e805";
}

.icon-bmpjpge-fill:before {
  content: "\e806";
}

.icon-tifjpge-fill:before {
  content: "\e807";
}

.icon-pngjpge-fill:before {
  content: "\e808";
}

.icon-Hometextile:before {
  content: "\e809";
}

.icon-home:before {
  content: "\e80a";
}

.icon-comments-fill:before {
  content: "\e80b";
}

.icon-account-fill:before {
  content: "\e80c";
}

.icon-home-fill:before {
  content: "\e80d";
}

.icon-add-select:before {
  content: "\e80e";
}

.icon-sami-select:before {
  content: "\e80f";
}

.icon-camera:before {
  content: "\e810";
}

.icon-arrow-down:before {
  content: "\e811";
}

.icon-account:before {
  content: "\e812";
}

.icon-comments:before {
  content: "\e813";
}

.icon-cart-Empty1:before {
  content: "\e814";
}

.icon-favorites:before {
  content: "\e815";
}

.icon-order:before {
  content: "\e816";
}

.icon-search:before {
  content: "\e817";
}

.icon-usercenter1:before {
  content: "\e818";
}

.icon-tradingdata:before {
  content: "\e819";
}

.icon-microphone:before {
  content: "\e81a";
}

.icon-txt:before {
  content: "\e81b";
}

.icon-xlsx:before {
  content: "\e81c";
}

.icon-jiaobiao:before {
  content: "\e81d";
}

.icon-kehupandian:before {
  content: "\e81e";
}

.icon-dongtai:before {
  content: "\e81f";
}

.icon-shenqingjilu:before {
  content: "\e820";
}

.icon-shangchuanbeiandanzheng:before {
  content: "\e821";
}

.icon-shangchuan:before {
  content: "\e822";
}

.icon-suoxiao:before {
  content: "\e823";
}

.icon-quanyipeizhi:before {
  content: "\e824";
}

.icon-wuliudingdan:before {
  content: "\e825";
}

.icon-xinxibar_zhanghu:before {
  content: "\e826";
}

.icon-background-color:before {
  content: "\e827";
}

.icon-beijing:before {
  content: "\e828";
}

.icon-bold:before {
  content: "\e829";
}

.icon-zijin:before {
  content: "\e82a";
}

.icon-eraser:before {
  content: "\e82b";
}

.icon-centeralignment:before {
  content: "\e82c";
}

.icon-click:before {
  content: "\e82d";
}

.icon-flag:before {
  content: "\e82e";
}

.icon-falg-fill:before {
  content: "\e82f";
}

.icon-Fee:before {
  content: "\e830";
}

.icon-Foreigncurrency:before {
  content: "\e831";
}

.icon-guanliyuan:before {
  content: "\e832";
}

.icon-language:before {
  content: "\e833";
}

.icon-leftalignment:before {
  content: "\e834";
}

.icon-Italic:before {
  content: "\e835";
}

.icon-rightalignment:before {
  content: "\e836";
}

.icon-square:before {
  content: "\e837";
}

.icon-tag-subscript:before {
  content: "\e838";
}

.icon-under-line:before {
  content: "\e839";
}

.icon-shouqi:before {
  content: "\e83a";
}

.icon-zhankai:before {
  content: "\e83b";
}

.icon-tongxunlu:before {
  content: "\e83c";
}

.icon-yiguanzhugongyingshang:before {
  content: "\e83d";
}

.icon-becomeagoldsupplier:before {
  content: "\e83e";
}

.icon-new:before {
  content: "\e83f";
}

.icon-free:before {
  content: "\e840";
}

.icon-cad-fill:before {
  content: "\e841";
}

.icon-robot:before {
  content: "\e842";
}

.icon-block:before {
  content: "\e843";
}

